<% @recipes.each do |recipe| %>
<div class="card mb-5 w-75  mx-auto shadow-lg">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="img-container"><%= attachment_image_tag recipe, :image, format: 'jpeg' %></div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">
          <%= attachment_image_tag recipe.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40', class:"mt-3 mr-3 rounded-circle" %>
          by. <%= recipe.user.name %>
        </p>
        <h5 class="card-title">料理名<%= link_to recipe_path(recipe.id) do %>
                                <%= recipe.title %>
                                <% end %>
        </h5>
        <p class="card-text"><%= recipe.catchcopy %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
