 <!--エラーメッセージ-->
<% if @recipe.errors.any? %>
 <h2 class="errors text-center mb-5"><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
<% end %>

 <!--投稿画面-->
  <%= form_with model: @recipe, local:true do |f| %>
   <div class="container w-75 mt-5">
      <h2 class="far fa-clipboard">WriteRecipe</h2>
      <div class="my-3 ">
       <label for="RecipeTitle" class="tag_text">レシピタイトル</label>
       <div><%= f.text_field :title, placeholder: "レシピタイトル", class: "form-control js-text-top" %></div>
       <P class="js-text-top-count pull-right"></P>
       <% if @recipe.errors.include?(:title) %>
         <p style="color: white; background-color: red;"><%= @recipe.errors.full_messages_for(:title).first %>
       <% end %>
      </div>

       <div class="row">
         <div class="col-md-6 mb-3">
           <label for="NumberOfPeople" class="tag_text">人数</label>
              <div><%= f.text_field :no_of_dish, placeholder: "２人分", class: "form-control" %></div>
        </div>
           <div class="col-md-6 mb-3">
             <label for="Tag" class="tag_text">タグ</label>
                <div>
                 <%= f.text_field :tag_name,placeholder: "料理に合うお酒の名前を記入してください", class: "form-control" %>
                </div>
            </div>
        </div>

       <div class="mb-3">
          <label for="CatchCopy" class="tag_text">キャッチコピー</label>
          <div><%= f.text_area :catchcopy, placeholder: "キャッチコピー入力（検索結果の画面にも表示されます）", class: "form-control js-text" %></div>
          <P class="js-text-count pull-right"></P>
        </div>
        <% if @recipe.errors.include?(:catchcopy) %>
         <p style="color: white; background-color: red;"><%= @recipe.errors.full_messages_for(:catchcopy).first %>
        <% end %>

       <div class="mb-3">
          <label for="Image" class="tag_text">イメージ</label>
          <div><%= f.attachment_field :image %></div>
        </div>


        <div class="star-form-group" id="star1-<%= @recipe.id %>">
          <%= f.label :sweetness,'甘味', class:'star-title tag_text' %>
          <script>
           $('#star1-<%= @recipe.id %>').raty({
             size     : 36,
             starOff:  '<%= asset_path('star-off.png') %>',
             starOn : '<%= asset_path('star-on.png') %>',
             starHalf: '<%= asset_path('star-half.png') %>',
             score: <%= @recipe.sweetness %>,
             scoreName: 'recipe[sweetness]',
             half: true,
           });
         </script>
        </div>

        <div class="star-form-group" id="star2-<%= @recipe.id %>">
          <%= f.label :spicy,'辛味', class:'star-title tag_text' %>
         <script>
           $('#star2-<%= @recipe.id %>').raty({
             size     : 36,
             starOff:  '<%= asset_path('star-off.png') %>',
             starOn : '<%= asset_path('star-on.png') %>',
             starHalf: '<%= asset_path('star-half.png') %>',
             score: <%= @recipe.spicy %>,
             scoreName: 'recipe[spicy]',
             half: true,
           });
         </script>
        </div>

        <div class="star-form-group" id="star3-<%= @recipe.id %>">
          <%= f.label :salty,'塩味', class:'star-title tag_text' %>
          <script>
           $('#star3-<%= @recipe.id %>').raty({
             size     : 36,
             starOff:  '<%= asset_path('star-off.png') %>',
             starOn : '<%= asset_path('star-on.png') %>',
             starHalf: '<%= asset_path('star-half.png') %>',
             score: <%= @recipe.salty %>,
             scoreName: 'recipe[salty]',
             half: true,
            });
         </script>
        </div>

        <div class="star-form-group" id="star4-<%= @recipe.id %>">
          <%= f.label :bitter_taste,'苦味', class:'star-title tag_text' %>
          <script>
           $('#star4-<%= @recipe.id %>').raty({
             size     : 36,
             starOff:  '<%= asset_path('star-off.png') %>',
             starOn : '<%= asset_path('star-on.png') %>',
             starHalf: '<%= asset_path('star-half.png') %>',
             score: <%= @recipe.bitter_taste %>,
             scoreName: 'recipe[bitter_taste]',
             half: true,
           });
         </script>
        </div>

        <div class="star-form-group" id="star5-<%= @recipe.id %>">
          <%= f.label :acidity,'酸味', class:'star-title tag_text' %>
          <script>
           $('#star5-<%= @recipe.id %>').raty({
             size     : 36,
             starOff:  '<%= asset_path('star-off.png') %>',
             starOn : '<%= asset_path('star-on.png') %>',
             starHalf: '<%= asset_path('star-half.png') %>',
             score: <%= @recipe.acidity %>,
             scoreName: 'recipe[acidity]',
             half: true,
           });
         </script>
        </div>


        <!--星評価のエラー分-->
        <% if @recipe.errors.include?(:sweetness) %>
          <p style="color: white; background-color: red;"><%= @recipe.errors.full_messages_for(:sweetness).first %>
        <% end %>
        <% if @recipe.errors.include?(:spicy) %>
          <p style="color: white; background-color: red;"><%= @recipe.errors.full_messages_for(:spicy).first %>
        <% end %>
        <% if @recipe.errors.include?(:salty,) %>
          <p style="color: white; background-color: red;"><%= @recipe.errors.full_messages_for(:salty).first %>
        <% end %>
        <% if @recipe.errors.include?(:bitter_taste) %>
          <p style="color: white; background-color: red;"><%= @recipe.errors.full_messages_for(:bitter_taste).first %>
        <% end %>
        <% if @recipe.errors.include?(:acidity) %>
          <p style="color: white; background-color: red;"><%= @recipe.errors.full_messages_for(:acidity).first %>
        <% end %>

      <!--材料・量の入力フォーム-->
      <!--editになるとフォームの大きさが変わるため微調整し対応-->
         <div class="recipe-ingredients">
          <div>
            <%= f.fields_for :recipe_ingredients do |t| %>
              <%= render "recipes/recipe_ingredient_fields", f: t %>
            <% end %>
          </div>

          <div class="container w-75">
            <%= link_to_add_association "+フォームを追加", f, :recipe_ingredients, class: "btn btn-outline-warning w-100" %>
          </div>
        </div>

      <!--手順の入力フォーム-->
        <div class="how-to-makes">
          <div>
            <%= f.fields_for :how_to_makes do |t| %>
              <%= render "recipes/how_to_make_fields", f: t %>
            <% end %>
          </div>
          <div class="container w-75">
            <%= link_to_add_association "+フォームを追加", f, :how_to_makes, class: "btn btn-outline-warning w-100 mt-2" %>
          </div>
        </div>

    <div class="text-center">
     <button type="submit" class="btn btn-warning w-75 my-5 ml-2">保存</button>
   </div>
 </div>
<% end %>