
<%= form_with model: @recipe, url: recipe_path(@recipe), local:true do |f| %>
   <div class="container w-75">
      <h2>レシピ編集</h2>
      <div class="my-3 ">
       <label for="RecipeTitle">レシピタイトル</label>
       <div><%= f.text_field :title, placeholder: "レシピタイトル", class: "form-control" %></div>
      </div>

       <div class="row">
         <div class="col-md-6 mb-3">
           <label for="NumberOfPeople">人数</label>
              <div><%= f.text_field :no_of_dish, placeholder: "２人分", class: "form-control" %></div>
        　 </div>
           <div class="col-md-6 mb-3">
             <label for="Tag">タグ</label>
                <div>
                 <%= f.text_field :tag_name,placeholder: "お酒の名前を記入して下さい", class: "form-control" %>
                </div>
            </div>
        </div>

       <div class="mb-3">
          <label for="CatchCopy">キャッチコピー</label>
          <div><%= f.text_area :catchcopy, placeholder: "キャッチコピー入力（検索結果の画面にも表示されます）", class: "form-control" %></div>
        </div>

       <div class="mb-3">
          <label for="Image">イメージ</label>
          <div><%= f.attachment_field :image %></div>
        </div>

  
  <div class="star-form-group" id="star1-<%= @recipe.id %>">
    <%= f.label :sweetness,'甘', class:'star-title' %>
    <script>
     $('#star1-<%= @recipe.id %>').raty({
       size     : 36,
       starOff:  '<%= asset_path('star-off.png') %>',
       starOn : '<%= asset_path('star-on.png') %>',
       starHalf: '<%= asset_path('star-half.png') %>',
       score: <%= @recipe.sweetness %>,
       scoreName: 'recipe[sweetness]',
       half: true,
     });
   </script>
  </div>

  <div class="star-form-group" id="star2-<%= @recipe.id %>">
    <%= f.label :spicy,'辛', class:'star-title' %>
   <script>
     $('#star2-<%= @recipe.id %>').raty({
       size     : 36,
       starOff:  '<%= asset_path('star-off.png') %>',
       starOn : '<%= asset_path('star-on.png') %>',
       starHalf: '<%= asset_path('star-half.png') %>',
       score: <%= @recipe.spicy %>,
       scoreName: 'recipe[spicy]',
       half: true,
     });
   </script>
  </div>

  <div class="star-form-group" id="star3-<%= @recipe.id %>">
    <%= f.label :salty,'塩', class:'star-title' %>
    <script>
     $('#star3-<%= @recipe.id %>').raty({
       size     : 36,
       starOff:  '<%= asset_path('star-off.png') %>',
       starOn : '<%= asset_path('star-on.png') %>',
       starHalf: '<%= asset_path('star-half.png') %>',
       score: <%= @recipe.salty %>,
       scoreName: 'recipe[salty]',
       half: true,
      });
   </script>
  </div>

  <div class="star-form-group" id="star4-<%= @recipe.id %>">
    <%= f.label :bitter_taste,'渋', class:'star-title' %>
    <script>
     $('#star4-<%= @recipe.id %>').raty({
       size     : 36,
       starOff:  '<%= asset_path('star-off.png') %>',
       starOn : '<%= asset_path('star-on.png') %>',
       starHalf: '<%= asset_path('star-half.png') %>',
       score: <%= @recipe.bitter_taste %>,
       scoreName: 'recipe[bitter_taste]',
       half: true,
     });
   </script>
  </div>

  <div class="star-form-group" id="star5-<%= @recipe.id %>">
    <%= f.label :acidity,'酸', class:'star-title' %>
    <script>
     $('#star5-<%= @recipe.id %>').raty({
       size     : 36,
       starOff:  '<%= asset_path('star-off.png') %>',
       starOn : '<%= asset_path('star-on.png') %>',
       starHalf: '<%= asset_path('star-half.png') %>',
       score: <%= @recipe.acidity %>,
       scoreName: 'recipe[acidity]',
       half: true,
     });
   </script>
  </div>


  <!--材料・量の入力フォーム-->
     <div class="recipe-ingredients">
      <div>
        <%= f.fields_for :recipe_ingredients do |t| %>
          <%= render "recipes/recipe_ingredient_fields", f: t %>
        <% end %>
      </div>

      <div>
        <%= link_to_add_association "+フォームを追加", f, :recipe_ingredients, class: "btn btn-outline-warning w-100" %>
      </div>
    </div>

  <!--手順の入力フォーム-->
    <div class="how-to-makes">
      <div>
        <%= f.fields_for :how_to_makes do |t| %>
          <%= render "recipes/how_to_make_fields", f: t %>
        <% end %>
      </div>
      <div class="container w-75">
        <%= link_to_add_association "+フォームを追加", f, :how_to_makes, class: "btn btn-outline-warning w-100 mt-2" %>
      </div>
    </div>

   <div class="text-center">
     <button type="submit" class="btn btn-warning w-75 my-5 ml-2">保存</button>
   </div>
 </div>
<% end %>