<div class="container">
  <div class="row">
    <div class="col-lo-8-sm-7">
      <h3>プロフィール編集</h3>
       <%= form_with model:@user, local:true do |f| %>
        <label for="inputName">Name</label>
          <div class="mb-2"><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前", class: "form-control"%></div>
          <div><%= attachment_image_tag @user, :profile_image, :fill, 150, 150, fallback: "no_image.jpg", class: "rounded-circle" %></div>
        <label for="inputImage">プロフィール画像</label>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
        <div class="form-group">
          <label for="inputIntroduction">Introduction</label>
          <div><%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", placeholder:"Introduction", class: "form-control input-lg" %></div>
        </div>
        <%= f.submit "保存" %>
        <% end %>
     </div>
  </div>
</div>