<!--プロフィール-->
<div>
  <h3><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
  <h3>introduction</h3>
  <%= @user.introduction %>
</div>

<%= render 'users/info', user: @user %>



<!--My投稿一覧-->

<% @user.recipes.each do |recipe| %>
  <div class="card-list-container py-5">
    <div class="card w-75 mx-auto mt-4 shadow-lg">
      <%= attachment_image_tag recipe, :image, :fill, 150, 150, format: 'jpeg', class: "img-thumbnail" %>
      <div class="card-body">
        <div class="row">
          <div class="col-2">



          </div>
             <%= link_to recipe_path(recipe.id) do %>
             <p>料理名：<%= recipe.title %></p>
             <% end %>
           <p class="card-text">説明:<%= recipe.catchcopy %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>

