<div class="mt-5">
  
  <h3 class="text-center top-font"><span>Welcome</span><span>TakunomiMenu</span></h3>
  <p class="text-center lead">お酒好きのためのレシピサイトです。登録せずに閲覧できますが、登録するとMyレシピが投稿できます。</p>
  
 <div class="section">

  <div class="m-5">
    <div class="variable slider">
      <div><%= image_tag 'brooke-lark-t7wg7BJU2-s-unsplash', class: 'sized' %></div>
      <div><%= image_tag 'stella-de-smit-nCxCBnK6UKQ-unsplash.jpg', class: 'sized' %></div>
      <div><%= image_tag 'lily-banse--YHSwy6uqvk-unsplash.jpg', class: 'sized' %></div>
    </div>
  </div>

  <p class="text-center lead ">TAKUNOMINENUの特徴について説明します。</p>

  <div class="container marketing text-center mt-5 ">
    <div class="row mb-5">
      <div class="col-lg-4">
        <div><%= image_tag 'form.jpg', class: 'item bd-placeholder-img rounded-circle' %></div>

        <h2>recipes</h2>
        <p>レシピを書きやすさを大切にしています。</br>見やすいフォームで、材料や各手順ごとに記入欄分けて書くことができます。</p>
      </div>
      <div class="col-lg-4">
        <div><%= image_tag 'tag.jpg', class: 'item bd-placeholder-img rounded-circle' %></div>

        <h2>tags</h2>
        <p>レシピごとにお酒のタグ付けすることにより、自身が求めていたレシピと巡り合うかもしれません。</p>
      </div>
      <div class="col-lg-4">
        <div><%= image_tag 'hosi.jpg', class: 'item bd-placeholder-img rounded-circle' %></div>

        <h2>stars</h2>
        <p>Myレシピの味パラメータを付けることにより、一目見て甘さ辛さ等の味の傾向が分かるようになっています。</p>
      </div>
    </div>
  </div>
  

</div>