<div class="mt-5">
 <div class="section">

  <div class="m-5">
    <div class="variable slider">
      <div><%= image_tag 'brooke-lark-t7wg7BJU2-s-unsplash', class: 'sized' %></div>
      <div><%= image_tag 'stella-de-smit-nCxCBnK6UKQ-unsplash.jpg', class: 'sized' %></div>
      <div><%= image_tag 'lily-banse--YHSwy6uqvk-unsplash.jpg', class: 'sized' %></div>
    </div>
  </div>

<div class="text-center">
  <h3 class="top-font">Welcome to TAKUNOMIMENU</h3>
  <p>お酒好きのためのレシピサイトです。登録するとレシピを詳しく見ることができ、Myレシピが投稿もできます。</p>
  <p>TAKUNOMINENUの特徴について説明します。</p>
</div>


<div class="container marketing">
  <hr class="featurette-divider mt-5">
    <div class="row">
      <div class="col-md-7">
        <h2 class="featurette-heading">Recipes  <span class="text-muted">書きやすさ</span></h2>
        <p class="lead">レシピを書きやすさを大切にしています。見やすいフォームで、材料や各手順ごとに記入欄分けて書くことができます。</p>
      </div>
      <div class="col-md-5">
        <%= image_tag 'form.jpg', class: 'bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-circle' %>
      </div>
    </div>

   <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Tags  <span class="text-muted">お酒の種類ごとに</span></h2>
        <p class="lead">レシピごとにお酒のタグ付けすることにより、自身が求めていたレシピと巡り合うかもしれません。</p>
      </div>
      <div class="col-md-5 order-md-1">
         <%= image_tag 'tag.jpg', class: 'bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-circle' %>
      </div>
    </div>

   <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Stars <span class="text-muted">星による評価</span></h2>
        <p class="lead">Myレシピの味パラメータを付けることにより、一目見て甘さ辛さ等の味の傾向が分かるようになっています。</p>
      </div>
      <div class="col-md-5">
         <%= image_tag 'hosi.jpg', class: 'bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-circle' %>

      </div>
    </div>
   </div>


</div>