<!--検索バー-->

<% if user_signed_in? %>
  <%= form_tag(all_search_path, method: :get) do %>
    <div class="text-left ml-5 " >
      <div class="form-row">
        <div class="form-group col-sm-5">
          <%= text_field_tag 'content', params[:content], class: "form-control mb-2 mr-sm-2 my-2", placeholder: "ワードを入力して下さい" %>
        </div>
       <div class="form-group col-sm-2">
          <%= select_tag 'model', options_for_select({ "User" => "user", "Recipe" => "recipe" }), class:"custom-select mt-2"%>
       </div>
       <div class="form-group col-sm-2">
         <%= select_tag 'method', options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"  }), class:"custom-select mt-2" %>
       </div>
       <div class="form-group col-sm-1">
         <%= submit_tag "検索", class:"mb-2 my-2 btn btn-outline-warning" %>
       </div>
     </div>
    </div>
  <% end %>
<% end %>

